body {
  background-color: #ffffff;
  color: #fff;
}

.card {
  background-color: #363740;
  border: none;
  width: 100%; /* Adjust the width to fit the smaller card */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.back-link {
  color: #000000;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-size: 2.25rem; /* Increase text size */
  font-weight: bold;
}

.back-link:hover {
  text-decoration: underline;
}

.activity-title {
  font-size: 1.6rem;
}

.timer-container {
  display: flex;
  align-items: center;
}

.timer-icon {
  font-size: 1.5rem;
}

#timer {
  font-size: 1.25rem;
}

.activity-card {
  background-color: #d9d9d9;
  color: #fff;
  display: flex;
  flex-direction: column; /* Ensure content stacks vertically */
  align-items: center; /* Center content horizontally */
  text-align: center;
  width: 100%; /* Adjust the width to fit the smaller card */
  height: 400px; /* Adjust the height to fit the smaller card */
  margin-right: 30px; /* Shift the cards to the right */
}

.activity-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.activity-card .card-title {
  font-size: 1.45rem;
  color: black;
  margin: 0;
}

.activity-icon {
  font-size: 1.5rem;
  margin-right: 10px; /* Space between icon and title */
}

.apps-list-container {
  display: flex;
  justify-content: center; /* Center the lists horizontally */
  width: 100%;
  margin-top: 10px;
  white-space: nowrap; /* Prevent text from wrapping */
}

.card-body {
  width: 90%;
}
.apps-list {
  color: red;
  text-align: left;
  margin: 0;
  margin-right: 50px; /* Add space between red and green lists */
}

.apps-list.green {
  color: green;
  text-align: right;
  margin-left: 100px; /* Add space between red and green lists */
}

.logs-text {
  text-align: left;
  color: black;
  font-size: 0.875rem;
  margin-top: 10px;
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Custom CSS for carousel control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.8); /* Black with 50% opacity */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Optional: Adds rounded corners */
}
.pic-container{
  height: 100%;
}

/* Custom CSS for carousel captions */
.carousel-caption .caption-text-container {
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Optional: Adds rounded corners */
  color: white; /* Text color inside the caption */
}

/* Custom CSS for carousel */
.carousel-item {
    height: 300px; /* Set a fixed height for the carousel items */
    overflow: hidden; /* Hide any overflow to prevent distortion */
}

.carousel-item img {
    width: 100%; /* Ensure the image width fills its container */
    height: 100%; /* Ensure the image height fills its container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

@media (min-width: 992px){
  .modal-lg, .modal-xl{
    max-width: 130vh;
  }
}
@media (min-width: 576px){
  .modal-lg, .modal-xl{
    max-width: 135vh;
  }
}
.carousel-item:hover{
  cursor: pointer;
}

.modal-body h2{
  color:black;
}

.table-responsive {
  overflow-x: auto; /* Enable horizontal scrolling if the table is wider than the container */
  overflow-y: auto; /* Enable vertical scrolling if the table is taller than the container */
  max-height: 100%; /* Ensure it uses the full height available within the card */
}

.table-container{
  width: 100%;
  height: 300px;
}
.process-table th {
  background-color: #74b3ce !important;
  color: white;
}

.logs-table th {
  background-color: #FF4F00 !important;
  color: white;
}
/* Reduce padding in table cells to make them more compact */
.table td, .table th {
  padding: 0.5rem; /* Adjust padding as needed */
  text-align: left; /* Align text to the left */
  vertical-align: middle; /* Align text vertically to the middle */
  word-wrap: break-word !important; /* Break long words and wrap text */
  overflow-wrap: break-word !important; /* Wrap long words to prevent overflow */
}

.table td:first-child, .table th:first-child {
  max-width: 150px; /* Set a maximum width if needed */
}
/* Apply styles to the fpurth column (Process) */
.table td:nth-child(4), .table th:nth-child(4) {
  width: 20%; /* Adjust width as needed */
  max-width: 300px; /* Set maximum width if needed */
}
/* Apply styles to the fifth column (Date & Time) */
.process-table.table td:nth-child(5), .table th:nth-child(5) {
  width: 20%; /* Adjust width as needed */
  max-width: 200px; /* Set maximum width if needed */
  white-space: nowrap; /* Prevent text from wrapping */
}
/* Apply styles to the fifth column (Date & Time) */
.logs-table.table td:nth-child(4), .table th:nth-child(4) {
  width: 20%; /* Adjust width as needed */
  max-width: 200px; /* Set maximum width if needed */
  white-space: nowrap; /* Prevent text from wrapping */
}
/* Apply background color to even rows */
.table tbody tr:nth-child(even) {
  background-color: whitesmoke; /* Light gray background */
}

/* Apply background color to odd rows */
.table tbody tr:nth-child(odd) {
  background-color: #ffffff; /* White background */
}